'The[[:space:]]Complete[[:space:]]Recorder[[:space:]]Vlog[[:space:]]1[[:space:]].mp4' filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
